@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #000814;
}

#root {
  min-height: 100%;
  background-color: #000814;
}

.codeblock1 {
  width: 372.95px;
  height: 257.05px;
  border-radius: 100%;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  background: linear-gradient(123.77deg,
      #8a2be2 -6.46%,
      #ffa500 59.04%,
      #f8f8ff 124.53%);
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}

.codeblock2 {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  border-radius: 100%;
  background: linear-gradient(118.19deg,
      #1fa2ff -3.62%,
      #12d8fa 50.44%,
      #a6ffcb 104.51%);
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}

.wrap-effect-hover {
  perspective: 1010px;
  perspective-origin: 50% 50%;
}

.effect:hover {
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(10deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(30px) skewX(0deg) skewY(0deg);
}
.homepage_bg {
  background-image: url('../src/assest/images/bghome.svg');
  background-size: cover;
  background-position: center;
}



.spinner {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid  solid dotted;
  border-color: #FF3D00 #FF3D00 transparent #FF3D00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
}
.spinner::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #FF3D00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.form-style {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-shadow: 0 1px 0 0;
    --tw-shadow-colored: 0 1px 0 0 var(--tw-shadow-color);
    --tw-shadow-color: hsla(0, 0%, 100%, .5);
    --tw-shadow: var(--tw-shadow-colored);
    background-color: rgb(44 51 63 / var(--tw-bg-opacity));
    border-radius: .5rem;
    box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    color: rgb(241 242 255 / var(--tw-text-opacity));
    font-size: 16px;
    line-height: 24px;
    padding: .75rem;
}
